<div class="d-flex w-100 h-100 justify-content-center align-items-center">
  <div class="card text-center">
    <div class="card-header">Change Password</div>
    <div class="card-body">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="requestForgetPassword()">
        <small class="validation-error" hidden></small>
        <div class="form-group d-flex justify-content-center align-items-center">
          <input formControlName="email" type="email" class="form-control text-center" 
            aria-describedby="emailHelp" placeholder="Enter email"
            (input)="checkFieldValidationOnChange(forgotPasswordForm.controls, $event)">
        </div>
        <p class="card-text text-muted mt-1">Please click the button below to send a password change request to email</p>
        <button class="btn btn-primary mt-2" type="submit">Send Request</button>
      </form>
    </div>
    <div class="card-footer text-muted">-</div>
  </div>
</div>



<!-- <div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>
      <p class="text-center">Please enter your email address to request a password reset.</p>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>
      
      <div class="formGroup">
        <input type="submit" class="btn custom-neon-blue-button-outline" value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>
  </div>
</div> -->