<div class="d-flex w-100 h-100 justify-content-center align-items-center" *ngIf="authService.userData as user">
  
  <div class="card mt-3 mb-3" style="width: fit-content;" *ngIf="firestoreUsersService.firestoreUser as firebaseUser">
    <div class="m-3 d-flex justify-content-center">
      <ngx-avatar name="{{user.displayName ? user.displayName : 'N / A'}}" size="100" [round]="true"></ngx-avatar>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">{{user.displayName ? user.displayName : 'N / A'}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: <i class="text-muted remove-italic">{{user.email}}</i></li>
      <li class="list-group-item">UID: <i class="text-muted remove-italic">{{user.uid}}</i></li>
      <li class="list-group-item">Tenant ID: <i class="text-muted remove-italic">{{firebaseUser.tenantId ? firebaseUser.tenantId : 'None'}}</i></li>
      <li class="list-group-item">Role: <i class="text-muted remove-italic">{{firebaseUser.role ? firebaseUser.role : 'USER'}}</i></li>
      <li class="list-group-item">Disabled: <i class="text-muted remove-italic">{{firebaseUser.isDisabled}}</i></li>
    </ul>
  </div>

</div>
