<form [formGroup]="movieForm" class="add-movie-form" (ngSubmit)="onSubmit()">
    <h4 class="text-center">Add Movie</h4>
    <hr>

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input formControlName="title" class="form-control">
    </div>

    <div class="mb-3">
        <label for="genre" class="form-label">Genre</label>
        <div class="ng-multiselect-dropdown-parent">
            <ng-multiselect-dropdown class="ng-multiselect-dropdown" formControlName="genre" [settings]="categoryMultiselectSettings" [data]="categoryList" >
            </ng-multiselect-dropdown>
        </div>
    </div>

    <div class="mb-3">
        <label for="releasedYear" class="form-label">Released Year</label>
        <div class="ng-multiselect-dropdown-parent">
            <ng-multiselect-dropdown class="ng-multiselect-dropdown" formControlName="releasedYear" [settings]="releaseYearMultiselectSettings" [data]="yearList" >
            </ng-multiselect-dropdown>
        </div>
    </div>

    <div class="mb-3">
        <label for="imgUrl" class="form-label">Poster URL</label>
        <input formControlName="imgUrl" class="form-control">
    </div>

    <div class="mb-3">
        <label for="videoUrl" class="form-label">Video URL</label>
        <input formControlName="videoUrl" class="form-control">
    </div>

    <div class="mb-3">
        <label for="private" class="form-label">Private</label>
        <select formControlName="private" class="form-select" aria-label="Default private">
            <option *ngFor="let booleanEnum of booleanEnumList" [ngValue]="booleanEnum" [selected]="booleanEnum === movieForm.value.private">{{ booleanEnum }}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>
